{% extends 'RSVP/base.html' %}{% load staticfiles %}{% block content %}
<body>
<html> {% if user.is_authenticated %}
<div class="page-container"><h2 class="top-menu">Hello {{ user.username }},</h2>
    <p>Please choose from below options.</p></div>
{% endif %}
<div class="content container">
    <div class="row">
        <div class="col-md-12">
            <div class="links">                            <!-- Example row of columns -->
                <div class="row">
                    <div class="col-md-3">
                        <div class="thumbnail"><img src="{% static " images/customer.jpg" %}" alt="customer"/>
                            <div class="caption"><h2>Registrant</h2>
                                <p>We see our success in our customers success </p>
                                <p><a class="btn btn-primary" href="{% url 'RSVP:registrant_list' %}" role="button">View
                                    details &raquo;</a></p></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail"><img src="{% static " images/cupcakes.jpeg" %}" alt="cupcakes"/>
                            <div class="caption"><h2>Events</h2>
                                <p>Great Events</p>
                                <p><a class="btn btn-primary" href="{% url 'RSVP:event_list' %}" role="button">View
                                    details &raquo;</a></p></div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="thumbnail"><img src="{% static " images/lunch.jpeg" %}" alt="lunch"/>
                            <div class="caption"><h2>Venues</h2>
                                <p>Great Venues.</p>
                                <p><a class="btn btn-primary" href="{% url 'RSVP:venue_list' %}" role="button">View
                                    details &raquo;</a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% endblock %}